.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:none;
  z-index:1;
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:2469px;
  min-width:200px;
  max-width:368px;
  margin:auto;
  background-color:rgba(229, 229, 229, 1);
  overflow:hidden;
}
.Frame-outer{
  pointer-events:none;
  z-index:2;
}
.C128{
  position:relative;
  z-index:3;
  pointer-events:none;
  margin-left:81px;
  width:194px;
  min-width:194px;
  margin-top:7px;
  margin-bottom:2360px;
  min-height:102px;
  text-align:left;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Space Mono;
  font-weight:700;
  font-size:64px;
  line-height:95px;
}
.C128-outer{
  pointer-events:none;
  z-index:3;
  position:relative;
  display:flex;
}
.C128-1{
  color:rgba(58, 109, 242, 1);
  font-style:normal;
  font-family:Space Mono;
  font-weight:700;
  font-size:64px;
  line-height:95px;
}
.C128-2{
  color:rgba(255, 24, 24, 1);
  font-style:normal;
  font-family:Space Mono;
  font-weight:700;
  font-size:64px;
  line-height:95px;
}
.V-lkommen-till-C128-{
  position:relative;
  z-index:6;
  pointer-events:none;
  margin-left:-20px;
  width:355px;
  min-width:355px;
  margin-top:-2360px;
  margin-bottom:2225px;
  min-height:135px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Space Mono;
  font-weight:700;
  font-size:18px;
  line-height:26px;
}
.V-lkommen-till-C128--outer{
  pointer-events:none;
  z-index:6;
  position:relative;
  display:flex;
}
.produktkort-2{
  position:relative;
  z-index:7;
  pointer-events:none;
  margin-left:40px;
  width:288px;
  min-width:288px;
  height:449px;
  margin-top:-2203px;
  margin-bottom:1754px;
  min-height:449px;
  background-color:rgba(255, 255, 255, 1);
  overflow:hidden;
}
.produktkort-2-outer{
  pointer-events:none;
  z-index:7;
  position:relative;
  display:flex;
}
.Frame-6-2{
  position:relative;
  z-index:12;
  pointer-events:none;
  margin-left:0px;
  width:287px;
  min-width:287px;
  height:280px;
  margin-top:-1px;
  margin-bottom:170px;
  min-height:280px;
  overflow:hidden;
}
.Frame-6-2-outer{
  pointer-events:none;
  z-index:12;
  position:relative;
  display:flex;
}
.IMG-1756-2-3{
  position:relative;
  z-index:13;
  pointer-events:none;
  margin-left:0px;
  width:287px;
  min-width:287px;
  height:381px;
  margin-top:-34px;
  margin-bottom:-67px;
  min-height:381px;
  content:url(assets/images/IMG_1756_2_3.png);
}
.IMG-1756-2-3-outer{
  pointer-events:none;
  z-index:13;
  position:relative;
  display:flex;
}
.Titel-2{
  position:relative;
  z-index:8;
  pointer-events:none;
  margin-left:20px;
  width:103px;
  min-width:103px;
  margin-top:-158px;
  margin-bottom:122px;
  min-height:36px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Space Mono;
  font-weight:700;
  font-size:24px;
  line-height:36px;
}
.Titel-2-outer{
  pointer-events:none;
  z-index:8;
  position:relative;
  display:flex;
}
.Beskrivnung-2{
  position:relative;
  z-index:9;
  pointer-events:none;
  margin-left:20px;
  width:247px;
  min-width:247px;
  margin-top:-122px;
  margin-bottom:95px;
  min-height:27px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Space Mono;
  font-weight:400;
  font-size:18px;
  line-height:26px;
}
.Beskrivnung-2-outer{
  pointer-events:none;
  z-index:9;
  position:relative;
  display:flex;
}
.Button-2{
  position:relative;
  z-index:10;
  pointer-events:none;
  margin-left:52px;
  width:183px;
  min-width:183px;
  height:40px;
  margin-top:-71px;
  margin-bottom:31px;
  min-height:40px;
  background-color:rgba(255, 24, 24, 1);
  border-radius:10px;
  overflow:hidden;
}
.Button-2-outer{
  pointer-events:none;
  z-index:10;
  position:relative;
  display:flex;
}
.Skicka-bud--2{
  position:relative;
  z-index:11;
  pointer-events:none;
  margin-left:59px;
  width:66px;
  min-width:66px;
  margin-top:10px;
  margin-bottom:9px;
  min-height:21px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:18px;
  line-height:21px;
}
.Skicka-bud--2-outer{
  pointer-events:none;
  z-index:11;
  position:relative;
  display:flex;
}
.IMG-1756-2{
  position:relative;
  z-index:44;
  pointer-events:none;
  margin-left:2754px;
  width:-2386px;
  min-width:-2386px;
  height:381px;
  margin-top:-2197px;
  margin-bottom:1816px;
  min-height:381px;
  content:url(assets/images/IMG_1756_2.png);
}
.IMG-1756-2-outer{
  pointer-events:none;
  z-index:44;
  position:relative;
  display:flex;
}
.Landingpage-2{
  position:relative;
  z-index:45;
  pointer-events:none;
  margin-left:40px;
  width:284px;
  min-width:284px;
  height:249px;
  margin-top:-1727px;
  margin-bottom:1478px;
  min-height:249px;
  content:url(assets/images/Landingpage_2.png);
}
.Landingpage-2-outer{
  pointer-events:none;
  z-index:45;
  position:relative;
  display:flex;
}
.produktkort{
  position:relative;
  z-index:37;
  pointer-events:none;
  margin-left:37px;
  width:287px;
  min-width:287px;
  height:436px;
  margin-top:-1727px;
  margin-bottom:1291px;
  min-height:436px;
  background-color:rgba(255, 255, 255, 1);
  overflow:hidden;
}
.produktkort-outer{
  pointer-events:none;
  z-index:37;
  position:relative;
  display:flex;
}
.Frame-6{
  position:relative;
  z-index:42;
  pointer-events:none;
  margin-left:0px;
  width:287px;
  min-width:287px;
  height:280px;
  margin-top:-1px;
  margin-bottom:157px;
  min-height:280px;
  overflow:hidden;
  visibility:hidden;
}
.Frame-6-outer{
  pointer-events:none;
  z-index:42;
  position:relative;
  display:flex;
}
.IMG-1756-2-1{
  position:relative;
  z-index:43;
  pointer-events:none;
  margin-left:0px;
  width:287px;
  min-width:287px;
  height:381px;
  margin-top:-34px;
  margin-bottom:-67px;
  min-height:381px;
  content:url(assets/images/IMG_1756_2_1.png);
}
.IMG-1756-2-1-outer{
  pointer-events:none;
  z-index:43;
  position:relative;
  display:flex;
}
.Titel{
  position:relative;
  z-index:38;
  pointer-events:none;
  margin-left:20px;
  width:74px;
  min-width:74px;
  margin-top:-145px;
  margin-bottom:109px;
  min-height:36px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Space Mono;
  font-weight:700;
  font-size:24px;
  line-height:36px;
}
.Titel-outer{
  pointer-events:none;
  z-index:38;
  position:relative;
  display:flex;
}
.Beskrivnung{
  position:relative;
  z-index:39;
  pointer-events:none;
  margin-left:20px;
  width:247px;
  min-width:247px;
  margin-top:-109px;
  margin-bottom:82px;
  min-height:27px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Space Mono;
  font-weight:400;
  font-size:18px;
  line-height:26px;
}
.Beskrivnung-outer{
  pointer-events:none;
  z-index:39;
  position:relative;
  display:flex;
}
.Button{
  position:relative;
  z-index:40;
  pointer-events:none;
  margin-left:52px;
  width:183px;
  min-width:183px;
  height:40px;
  margin-top:-58px;
  margin-bottom:18px;
  min-height:40px;
  background-color:rgba(255, 24, 24, 1);
  border-radius:10px;
  overflow:hidden;
}
.Button-outer{
  pointer-events:none;
  z-index:40;
  position:relative;
  display:flex;
}
.Skicka-bud-{
  position:relative;
  z-index:41;
  pointer-events:none;
  margin-left:59px;
  width:66px;
  min-width:66px;
  margin-top:10px;
  margin-bottom:9px;
  min-height:21px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:18px;
  line-height:21px;
}
.Skicka-bud--outer{
  pointer-events:none;
  z-index:41;
  position:relative;
  display:flex;
}
.produktkort-1{
  position:relative;
  z-index:14;
  pointer-events:none;
  margin-left:37px;
  width:287px;
  min-width:287px;
  height:436px;
  margin-top:-1264px;
  margin-bottom:828px;
  min-height:436px;
  background-color:rgba(255, 255, 255, 1);
  overflow:hidden;
}
.produktkort-1-outer{
  pointer-events:none;
  z-index:14;
  position:relative;
  display:flex;
}
.Frame-6-1{
  position:relative;
  z-index:19;
  pointer-events:none;
  margin-left:0px;
  width:287px;
  min-width:287px;
  height:280px;
  margin-top:-1px;
  margin-bottom:157px;
  min-height:280px;
  overflow:hidden;
}
.Frame-6-1-outer{
  pointer-events:none;
  z-index:19;
  position:relative;
  display:flex;
}
.IMG-1756-2-2{
  position:relative;
  z-index:20;
  pointer-events:none;
  margin-left:0px;
  width:287px;
  min-width:287px;
  height:381px;
  margin-top:-34px;
  margin-bottom:-67px;
  min-height:381px;
  content:url(assets/images/IMG_1756_2_2.png);
}
.IMG-1756-2-2-outer{
  pointer-events:none;
  z-index:20;
  position:relative;
  display:flex;
}
.Titel-1{
  position:relative;
  z-index:15;
  pointer-events:none;
  margin-left:20px;
  width:147px;
  min-width:147px;
  margin-top:-145px;
  margin-bottom:109px;
  min-height:36px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Space Mono;
  font-weight:700;
  font-size:24px;
  line-height:36px;
}
.Titel-1-outer{
  pointer-events:none;
  z-index:15;
  position:relative;
  display:flex;
}
.Beskrivnung-1{
  position:relative;
  z-index:16;
  pointer-events:none;
  margin-left:20px;
  width:247px;
  min-width:247px;
  margin-top:-109px;
  margin-bottom:82px;
  min-height:27px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Space Mono;
  font-weight:400;
  font-size:18px;
  line-height:26px;
}
.Beskrivnung-1-outer{
  pointer-events:none;
  z-index:16;
  position:relative;
  display:flex;
}
.Button-1{
  position:relative;
  z-index:17;
  pointer-events:none;
  margin-left:52px;
  width:183px;
  min-width:183px;
  height:40px;
  margin-top:-58px;
  margin-bottom:18px;
  min-height:40px;
  background-color:rgba(255, 24, 24, 1);
  border-radius:10px;
  overflow:hidden;
}
.Button-1-outer{
  pointer-events:none;
  z-index:17;
  position:relative;
  display:flex;
}
.Skicka-bud--1{
  position:relative;
  z-index:18;
  pointer-events:none;
  margin-left:59px;
  width:66px;
  min-width:66px;
  margin-top:10px;
  margin-bottom:9px;
  min-height:21px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:18px;
  line-height:21px;
}
.Skicka-bud--1-outer{
  pointer-events:none;
  z-index:18;
  position:relative;
  display:flex;
}
.Frame-3{
  position:relative;
  z-index:33;
  pointer-events:none;
  margin-left:37px;
  width:287px;
  min-width:287px;
  height:71px;
  margin-top:-749px;
  margin-bottom:678px;
  min-height:71px;
  overflow:hidden;
}
.Frame-3-outer{
  pointer-events:none;
  z-index:33;
  position:relative;
  display:flex;
}
.description{
  position:relative;
  z-index:36;
  pointer-events:none;
  margin-left:0px;
  width:56px;
  min-width:56px;
  margin-top:0px;
  margin-bottom:55px;
  min-height:16px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:14px;
  line-height:16px;
}
.description-outer{
  pointer-events:none;
  z-index:36;
  position:relative;
  display:flex;
}
.Frame-2{
  position:relative;
  z-index:34;
  pointer-events:none;
  margin-left:0px;
  width:287px;
  min-width:287px;
  height:48px;
  margin-top:-48px;
  margin-bottom:0px;
  min-height:48px;
  background-color:rgba(255, 255, 255, 1);
  border:1px solid rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-radius:4px;
  overflow:hidden;
}
.Frame-2-outer{
  pointer-events:none;
  z-index:34;
  position:relative;
  display:flex;
}
.Input{
  position:relative;
  z-index:35;
  pointer-events:none;
  margin-left:19px;
  width:32px;
  min-width:32px;
  margin-top:15px;
  margin-bottom:14px;
  min-height:16px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:14px;
  line-height:16px;
}
.Input-outer{
  pointer-events:none;
  z-index:35;
  position:relative;
  display:flex;
}
.Frame-3-1{
  position:relative;
  z-index:29;
  pointer-events:none;
  margin-left:37px;
  width:287px;
  min-width:287px;
  height:71px;
  margin-top:-651px;
  margin-bottom:580px;
  min-height:71px;
  overflow:hidden;
}
.Frame-3-1-outer{
  pointer-events:none;
  z-index:29;
  position:relative;
  display:flex;
}
.description-1{
  position:relative;
  z-index:32;
  pointer-events:none;
  margin-left:0px;
  width:65px;
  min-width:65px;
  margin-top:0px;
  margin-bottom:55px;
  min-height:16px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:14px;
  line-height:16px;
}
.description-1-outer{
  pointer-events:none;
  z-index:32;
  position:relative;
  display:flex;
}
.Frame-2-1{
  position:relative;
  z-index:30;
  pointer-events:none;
  margin-left:0px;
  width:287px;
  min-width:287px;
  height:48px;
  margin-top:-48px;
  margin-bottom:0px;
  min-height:48px;
  background-color:rgba(255, 255, 255, 1);
  border:1px solid rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-radius:4px;
  overflow:hidden;
}
.Frame-2-1-outer{
  pointer-events:none;
  z-index:30;
  position:relative;
  display:flex;
}
.Input-1{
  position:relative;
  z-index:31;
  pointer-events:none;
  margin-left:19px;
  width:32px;
  min-width:32px;
  margin-top:15px;
  margin-bottom:14px;
  min-height:16px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:14px;
  line-height:16px;
}
.Input-1-outer{
  pointer-events:none;
  z-index:31;
  position:relative;
  display:flex;
}
.Frame-2-2{
  position:relative;
  z-index:25;
  pointer-events:none;
  margin-left:37px;
  width:287px;
  min-width:287px;
  height:71px;
  margin-top:-528px;
  margin-bottom:457px;
  min-height:71px;
  overflow:hidden;
}
.Frame-2-2-outer{
  pointer-events:none;
  z-index:25;
  position:relative;
  display:flex;
}
.description-2{
  position:relative;
  z-index:28;
  pointer-events:none;
  margin-left:0px;
  width:47px;
  min-width:47px;
  margin-top:0px;
  margin-bottom:55px;
  min-height:16px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:14px;
  line-height:16px;
}
.description-2-outer{
  pointer-events:none;
  z-index:28;
  position:relative;
  display:flex;
}
.Frame-2-3{
  position:relative;
  z-index:26;
  pointer-events:none;
  margin-left:0px;
  width:287px;
  min-width:287px;
  height:48px;
  margin-top:-48px;
  margin-bottom:0px;
  min-height:48px;
  background-color:rgba(255, 255, 255, 1);
  border:1px solid rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-radius:4px;
  overflow:hidden;
}
.Frame-2-3-outer{
  pointer-events:none;
  z-index:26;
  position:relative;
  display:flex;
}
.Input-2{
  position:relative;
  z-index:27;
  pointer-events:none;
  margin-left:19px;
  width:32px;
  min-width:32px;
  margin-top:15px;
  margin-bottom:14px;
  min-height:16px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:14px;
  line-height:16px;
}
.Input-2-outer{
  pointer-events:none;
  z-index:27;
  position:relative;
  display:flex;
}
.Frame-2-4{
  position:relative;
  z-index:21;
  pointer-events:none;
  margin-left:37px;
  width:287px;
  min-width:287px;
  height:71px;
  margin-top:-430px;
  margin-bottom:359px;
  min-height:71px;
  overflow:hidden;
}
.Frame-2-4-outer{
  pointer-events:none;
  z-index:21;
  position:relative;
  display:flex;
}
.description-3{
  position:relative;
  z-index:24;
  pointer-events:none;
  margin-left:0px;
  width:100px;
  min-width:100px;
  margin-top:0px;
  margin-bottom:55px;
  min-height:16px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:14px;
  line-height:16px;
}
.description-3-outer{
  pointer-events:none;
  z-index:24;
  position:relative;
  display:flex;
}
.Frame-2-5{
  position:relative;
  z-index:22;
  pointer-events:none;
  margin-left:0px;
  width:287px;
  min-width:287px;
  height:48px;
  margin-top:-48px;
  margin-bottom:0px;
  min-height:48px;
  background-color:rgba(255, 255, 255, 1);
  border:1px solid rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-radius:4px;
  overflow:hidden;
}
.Frame-2-5-outer{
  pointer-events:none;
  z-index:22;
  position:relative;
  display:flex;
}
.Input-3{
  position:relative;
  z-index:23;
  pointer-events:none;
  margin-left:19px;
  width:32px;
  min-width:32px;
  margin-top:15px;
  margin-bottom:14px;
  min-height:16px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:14px;
  line-height:16px;
}
.Input-3-outer{
  pointer-events:none;
  z-index:23;
  position:relative;
  display:flex;
}
.Button-3{
  position:relative;
  z-index:4;
  pointer-events:none;
  margin-left:83px;
  width:195px;
  min-width:195px;
  height:50px;
  margin-top:-312px;
  margin-bottom:262px;
  min-height:50px;
  background-color:rgba(255, 24, 24, 1);
  border-radius:10px;
  overflow:hidden;
}
.Button-3-outer{
  pointer-events:none;
  z-index:4;
  position:relative;
  display:flex;
}
.Skicka-bud--3{
  position:relative;
  z-index:5;
  pointer-events:none;
  margin-left:46px;
  width:92px;
  min-width:92px;
  margin-top:10px;
  margin-bottom:19px;
  min-height:21px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:18px;
  line-height:21px;
}
.Skicka-bud--3-outer{
  pointer-events:none;
  z-index:5;
  position:relative;
  display:flex;
}
.Kontakt-Telnet--teln{
  position:relative;
  z-index:47;
  pointer-events:none;
  margin-left:34px;
  width:283px;
  min-width:283px;
  margin-top:-215px;
  margin-bottom:160px;
  min-height:55px;
  text-align:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:;
  font-weight:400;
  font-size:36px;
  line-height:43px;
}
.Kontakt-Telnet--teln-outer{
  pointer-events:none;
  z-index:47;
  position:relative;
  display:flex;
}
.Kontakt-Telnet--teln-1{
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:36px;
  line-height:43px;
}
.Kontakt-Telnet--teln-2{
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:36px;
  line-height:43px;
}
.Kontakt-Telnet--teln-3{
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:400;
  font-size:36px;
  text-decoration:underline;
  line-height:43px;
}
.Kontakt-Telnet--teln-4{
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Roboto;
  font-weight:700;
  font-size:36px;
  line-height:43px;
}
.Rectangle-3{
  position:relative;
  z-index:46;
  pointer-events:none;
  margin-left:0%;
  width:100%;
  height:9.396516808424463%;
  margin-top:607.8804347826087%;
  background-color:rgba(58, 109, 242, 1);
}
.Rectangle-3-outer{
  pointer-events:none;
  z-index:46;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
